
h1{
    margin-top: 20px; 
    display: flex;
    justify-content: flex-start;
}

.audio-container p{
    margin-top: 20px; 
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    font-size: 28px;
    font-weight: bold;
}


/*Gallery*/

.gallery-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
    margin-top: 30px;
  }
  
  .gallery-container .main-video{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
  
  }
  .gallery-container .main-video video{
  width: 100%;
  border-radius: 5px;
  
  }
  .gallery-container .main-video .title{
    color: var(--onyx);
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
  
  }
  .gallery-container .video-list{
    background: #fff;
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
  
  
  }
  .gallery-container .video-list::-webkit-scrollbar{
    width: 7px;
  }
  
  .gallery-container .video-list::-webkit-scrollbar-track{
    background: #ccc;
    border-radius: 50px;
  
  }
  .gallery-container .video-list::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 50px;
    
  }
  .gallery-container .video-list .vid video{
  width: 100px;
  border-radius: 5px;
  
  }
  .gallery-container .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
  }
  .gallery-container .video-list .vid:hover{
    background: #eee;
  
  }
  .gallery-container .video-list .vid.active{
    background: var(--lapis);
  }
  .gallery-container .video-list .vid.active .title{
    color: #fff;
  }
  .gallery-container .video-list .vid .title{
    color: #333;
    font-size: 17px;
  }
  
.open-btn, .close-btn{
    padding: 0 20px; 
    display: none;
    visibility: hidden;
}
  /*audios*/
  
  .audios{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--onyx);
    flex-wrap: wrap;
  }
  
  .player{
    width: 60vw;
    background-color: var(--back-color);  
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    gap: 16px;
    padding: 8px 24px;
    position: relative;
    border-radius: 64px;
    margin-bottom: 20px;
  }
  
  .control, #current, #current2, #current3{
   /* height: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;
  }
  
  #playbtn, #playbtn2, #playbtn3{
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--red);
    cursor: pointer;
  }
  
  #playbtn:hover, #playbtn2:hover, #playbtn3:hover{
    -webkit-text-fill-color: var(--red);
  }
  
  .info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
  }
  
  #current, #current2, #current3 {
    text-align: right;
  }
  
  .bar{
    --space: -4px; 
    background-color: var(--onyx);
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    bottom: var(--space);
    top: var(--space);
    position: absolute;
    border-radius: 64px;
    z-index: -2;
  }
  
  #progress, #progress2, #progress3 {
    display: block;
    width: var(--progress,0%);
    background-color: var(--red);
    transition: all 1s linear;
    height: 100%;
  }
  
/*media*/ 
@media(max-width:991px){
    .gallery-container{
      grid-template-columns: 1.5fr 1fr;
      padding: 10px;
    }
    
  }

  @media(max-width:768px){
    .gallery-container{
      grid-template-columns: 1fr;
      
    }
  }
  @media(max-width: 800px){
    .open-btn, .close-btn{
        visibility: visible;
    }
    .open-btn{
        margin-top: 5px;
    }
    h1{
        font-size: 24px;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .middle-column>p{
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .audio-container>p{
        font-size: 24px;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
   .info{
    font-size: 16px;
   }
  }
    