.intro p{
    font-size: 18px;
  }

/*hexagon menu*/

h1{
    font-size: 28px;
    margin-bottom: 5vh;
   
  }
  
  .hexagon-menu{
      margin-top: 5vh; 
      width: 50%;
  }
  
  .clear:before,
  .clear:after {
    content: " ";
    display: table;
  }
  
  .clear:after {
    clear: both;
  }
  
  .mob{
    display: none;
  }
  .seth-image{
    width: 60%;
    margin-left: 1vw;
  }
  .seth-image img{
    width: 100%;
    transform: scalex(-1); 
    position: relative;
    z-index: -9;
  }
  
  .spottify{
    margin-top: 5vh;
  }

/*gallery*/
.date-cards{
    max-width: 100%;
    display: flex; 
    flex-wrap: wrap;
   
    justify-content: center;
  } 
  
  
  .dates-container h2{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  
  .book {
      --book-hw: 200px;
      
  }
  
  .book > div {
      height: var(--book-hw);
      width: var(--book-hw);
      overflow: auto;
      background-color: var(--red);
      transform: scale(0.9);
      border-radius: 6px;
      transform-origin: left;
  }
  
  .book-cover {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 9;
      text-align: center;
      
      background-size: 2em 2em;
      background-color: var(--red);
      color: white;
      transition: transform 2s;
  }
  
  .book-cover p{
    font-size: 16px;
   
  }
  .book-cover-p{
    padding: 10px 30px 10px 30px;
  }
  .book-cover .hg{
    font-size: 50px;
  }
  
  .book-content {
      transform: scale(0.9) translateY(30px);
      background-color: var(--gold) !important;
      transition: all 0.3s 1s;
  }
  .book-content p {
  
      opacity: 0;
      transition: all 0.3s 0.3s;
    padding: 10px 30px 10px 30px;
      text-align: center;
      font-size: 18px;
    color: #fff;
   margin-top: 5%;
  }
  
  .book-cover > div {
      transition: opacity 0s 0.6s;
  }
  
  .book:hover > .book-cover {
      transform: rotateY(180deg) scale(0.9);
  }
  
  .book:hover > .book-cover > div {
      opacity: 0;
  }
  
  .book:hover > .book-content {
      transform: scale(0.9) translateY(0px);
  }
  
  .book:hover > .book-content h3,
  .book:hover > .book-content p {
      opacity: 1;
  }
  
  /*library*/
  
  .lib-container h2{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  
  .shelf-out{
    
     
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      flex-wrap: wrap;
  
  }
  
  
  .lib-book {
    width: 180px;
    height: 255px;
    background-color: var(--gold);
    transition: all .3s ease-in-out;
    transform-origin: left center 0px;
    transform-style: preserve-3d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    backface-visibility: hidden;
    overflow: hidden;
    margin-right: 5vw;
   margin-bottom: 10px;
  }
  
  .shelf-out a{
    text-decoration: none;
  }
  .shelf-out .file-title{
    display: flex;
    justify-content: center;
    padding: 30px 30px 30px 30px;
    text-align: center;
  }
  .lib-book p{
  color: var(--back-color);
  
  display: flex;
  justify-content: center;
  }
  
  .shelf-out .lib-book::after {
    content: " ";
    display: block;
    opacity: 0;
    width: 180px;
    height: 255px;
  
    position: relative;
    left: 8px;
    transition: all .3s ease;
  }
  
  .shelf-out .lib-book::before {
    content: " ";
    z-index: 999;
    display: block;
    width: 20px;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: -12px;
    right: 8px;
    transition: all .25s;
    background: var(--gold);
    background-size: 16px;
    background-repeat: no-repeat;
  }
  
  /*------ background-pic ------*/
  
  .lib-books {
    background: url('../assets/images/book-cover.png');
    background-size: 180px 255px;
   
  }
  
  
  
  
  
  /* ----- hover ----- */
  
  .lib-book:hover {
    cursor: pointer;
    transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
    backface-visibility: hidden;
    box-shadow: 1px 3px 2px var(--red), 20px 8px 0 var(--red);
    /* transform: scale(1.02); */
  }
  .book:hover::before {
    transform: translateY(9px);
    opacity: 1;
  
  }
  
  .dr {
  position: absolute;
  bottom: 16px; 
  right: 16px;
  width:100px;
  }

/*media*/

@media(max-width: 800px){
  .seth-image{
    width: 40%;
   
  }
  .mob{
    display: block;
  }

  .comp{
    display: none;
  }

  .clear h1{
    margin-top: 25%;
    padding-left: 10vw;
  }

  .mob p{
    padding-left: 10vw;
    padding-right: 5vw;
  }
  .mob iframe{
   padding-left: 2.5vw;
  }

  h2{
    padding-left: 10vw;
    padding-right: 5vw;
  }

}
  @media (max-width: 37.5em) {
    .dates-card {
      padding: 1rem;
    }
  }
  
  @media only screen and (max-width: 37.5em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    }
    .card__side {
      height: auto;
      position: relative;
      box-shadow: none;
    }
    .card__side--front {
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    }
    .card__side--back {
      transform: rotateY(0);
    }
    .card:hover .card__side--front {
      transform: rotateY(0);
    }
    .card__details {
      padding: 3rem 2rem;
    }
    .card__theme {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 5rem 4rem 1.5rem 4rem;
      text-align: right;
    }
    .card__theme-box {
      margin-bottom: 1.5rem;
    }
    .card__title {
      font-size: 4rem;
    }
  }
  
  
  