
:root{
    --back-color: #F7FFF7; 
    --orange: #F86624; 
    --blue: #4ECDC4; 
    --yellow: #ffc500; 
    --red: #EA3546; 
}

body{
    background-color: var(--back-color) !important;
    scroll-behavior: smooth;
}

.navbar{
    background-color: var(--back-color);
    height: 80px;
    margin: 20px;
    
    padding: 0.5rem;
    border-radius: 16px;
    border: 2px solid var(--orange);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}


.navbar-brand img{
    width: 70px;
    height: 70px;
}
.offcanvas{
    background-color: var(--back-color);
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
    margin-top: 0;

}

.navbar-toggler:focus , .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.navbar-brand{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-link{
    color: var(--orange) !important; 
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
    padding: 0.5em;
    margin-left: -0.5em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.nav-link:hover{
    color: var(--yellow) !important;
}

.hero{
 
    background-image: url(../assets/images/apollo-ai.webp);
    background-repeat: no-repeat;
    background-size: cover;


}

.my-cont{
    width: 95%;
    border-radius: 16px; 
    
    border-radius: 16px;
    border: 2px solid var(--orange);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin-bottom: 30px;
    background-color: #ebe3db;
}
.text-center{
    display: flex;
    justify-content: center;
}


.row{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card{
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.2);
    border-top-color: rgb(0, 0, 0,.1);
}

.cb1{
    background-color: rgba(225, 225, 255, .5);
    display: flex;
    justify-content: center;
}

.card-img-top{
   display: flex;
   justify-content: center;
   padding-top: 15px;
   height: 110px;
}
.card-img-top img{
    height: 100%;
}
.hero-title{
    display: flex;
    justify-content: center;
    margin-top: 30px !important;
    padding-top: 10px;
    padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;

}

h1, h2{
    font-size: 25px;
    font-weight: bold;
}

.my-cont h2{
    margin-top: 40px;
    margin-bottom: 40px;
}

.shelf-out{
    
     
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;

}


.lib-book {
  width: 180px;
  height: 255px;
  background-color: var(--orange);
  transition: all .3s ease-in-out;
  transform-origin: left center 0px;
  transform-style: preserve-3d;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  backface-visibility: hidden;
  overflow: hidden;
  margin-right: 5vw;
 margin-bottom: 10px;
}

.shelf-out a{
  text-decoration: none;
}
.shelf-out .file-title{
  display: flex;
  justify-content: center;
  padding: 30px 30px 30px 30px;
  text-align: center;
}
.lib-book p{
color: var(--back-color);

display: flex;
justify-content: center;
}

.shelf-out .lib-book::after {
  content: " ";
  display: block;
  opacity: 0;
  width: 180px;
  height: 255px;

  position: relative;
  left: 8px;
  transition: all .3s ease;
}

.shelf-out .lib-book::before {
  content: " ";
  z-index: 999;
  display: block;
  width: 20px;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: -12px;
  right: 8px;
  transition: all .25s;
  background: var(--orange);
  background-size: 16px;
  background-repeat: no-repeat;
}

/*------ background-pic ------*/

.lib-books {
  background: url('../assets/images/book-cover.png');
  background-size: 180px 255px;
 margin-bottom: 30px;
}





/* ----- hover ----- */

.lib-book:hover {
  cursor: pointer;
  transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
  backface-visibility: hidden;
  box-shadow: 1px 3px 2px var(--orange), 20px 8px 0 var(--orange);
  /* transform: scale(1.02); */
}
.book:hover::before {
  transform: translateY(9px);
  opacity: 1;

}

.dr {
position: absolute;
bottom: 16px; 
right: 16px;
width:100px;
}

footer{
    background-color: var(--orange);
    width: 100%; 
    display: flex;
  justify-content: center;
  color: #fff;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1.2rem;
  
  }
  
  footer p{
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  }
  
  footer i{
   margin-left: 10px;
   margin-right: 10px;
    font-size: 18px;
    margin-top: 10px;
  }


  .date-cards{
    max-width: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
  } 
  

  
  .book {
      --book-hw: 220px;
      
  }
  
  .book > div {
      height: var(--book-hw);
      width: var(--book-hw);
      overflow: auto;
      background-color: var(--orange);
      transform: scale(0.9);
      border-radius: 6px;
      transform-origin: left;
  }
  
  .book-cover {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 9;
      text-align: center;
      
      background-size: 2em 2em;
      background-color: var(--orange);
      color: white;
      transition: transform 2s;
  }
  
  .book-cover p{
    font-size: 18px;
   
  }
  .book-cover-p{
    padding: 10px 30px 10px 30px;
  }
  .book-cover img{
    height: 50px;
  }
  
  .book-content {
      transform: scale(0.9) translateY(30px);
      background-color: var(--blue) !important;
      transition: all 0.3s 1s;
  }
  .book-content p {
  
      opacity: 0;
      transition: all 0.3s 0.3s;
    padding: 10px 30px 10px 30px;
      text-align: center;
      font-size: 18px;
    color: #fff;
   margin-top: 5%;
  }
  
  .book-cover > div {
      transition: opacity 0s 0.6s;
  }
  
  .book:hover > .book-cover {
      transform: rotateY(180deg) scale(0.9);
  }
  
  .book:hover > .book-cover > div {
      opacity: 0;
  }
  
  .book:hover > .book-content {
      transform: scale(0.9) translateY(0px);
  }
  
  .book:hover > .book-content h3,
  .book:hover > .book-content p {
      opacity: 1;
  }